<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.ciyu/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.ciyu.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Word.browse" caption="msg://com.company.ciyu.screen.word/wordBrowse.menu"/>
        <item screen="Glossary.browse" caption="msg://com.company.ciyu.screen.glossary/glossaryBrowse.menu"/>
    </menu>

</menu-config>